alembic
bcrypt
blinker
cffi
click
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
Pillow
MarkupSafe
pycparser
six
SQLAlchemy
Werkzeug
WTForms
alembic
bcrypt

